@import "./../../assets/variables";

.board {
    padding: 1.5rem 2rem;

    &-content {
        display: flex;
        align-items: flex-start;
        transform: unset;

        &-new {
            margin-top: 1rem;
        }
    }

    &-title {
        font-size: 2rem;
        color: $white-color;
    }
}
